body {
  background: linear-gradient(90deg, #6DD5FA,#2980B9);
  /*margin: 0;*/
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c8d6e5;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #341f97;
}

h3 {
  color: #341f97;
}

div {
  background: linear-gradient(90deg, #2980B9, #6DD5FA);
  /*background-color: #74b9ff;*/
}

/*
img:hover {
  box-shadow: -5px +5px 5px #341f97;
  border-radius: 100%;
  width:135px;
  height: 135px;
}
*/
