body {
  background: linear-gradient(90deg, #6DD5FA, #2980B9);
  font-family: 'Merriweather', serif;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c8d6e5;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #341f97;
  font-family: 'Sacramento', cursive;
}

h3 {
  color: #341f97;
  font-family: 'Montserrat', sans-serif;
}

h6 {
  color: grey;
}

a {
  font-family: 'Merriweather', serif;
  color: #341f99;
  text-decoration: none;
  margin: 30px;
}

a:hover {
  color: white;
}

div {
  margin: 0;
  background: linear-gradient(90deg, #2980B9, #6DD5FA);
  /*color: #341f97;*/
  /*background-color: #74b9ff;*/
}

/*
img:hover {
  box-shadow: -5px +5px 5px #341f97;
  border-radius: 100%;
  width:135px;
  height: 135px;
}
*/
